body{
    background-color: rgb(107, 43, 78);
}

h3{
    align-items: center;
    color: rgb(250, 146, 207);
}
h2{
    align-items: center;
    color: rgb(255, 203, 252);
}

header {
    background-color: rgb(53, 53, 53)(94, 89, 89);
    color: white;
}

a{
    color: white;
}

.video1{
    align-items: center;
}

.video2{
    align-items: center;
}

.video3{
    align-items: center;
}

.flamingo{
    align-items: center;
}